#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#battles {
  max-width: fit-content;
}

#login-status {
  max-width: fit-content;
}

#welcome {
  max-width: fit-content;
}

.navbar {
  max-height: fit-content;
}

.nav-item {
  max-height: 2.2em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
